@import url("https://fonts.googleapis.com/css?family=Fugaz+One|Poppins:400,600,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.image {
  margin: 13em auto;
}
.content {
  margin: 13em auto;
  text-align: center;
}
p {
  line-height: 23px;
  font-size: 13px;
  padding: 0.6em 3em;
}
.card1 img {
  width: 2.5em;
}
.card2 img {
  width: 25em;
}
.card1 .card-body {
  margin: 0 auto 0;
}
.card2 .card-body {
  margin: 3em auto 0;
  background: white;
  /* border-radius: 50px; */
  border-top-right-radius: 50%;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}
input[type="email"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  width: 80%;
  margin-left: 1.5em;
}
input[type="email"]:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
label {
  margin-left: -18em;
  font-size: 0.7em;
}

form {
  text-align: center;
}
body {
  height: 40em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}
.container {
  display: flex;
  padding: 0 !important;
  height: 35em;
  font-family: "Poppins", sans-serif;
}
.card {
  border-radius: 0;
  padding: 2em !important;
  text-align: center;
}
.card1 {
  width: 45%;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 4px rgba(0, 0, 0, 0.25); */
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  border: none;
}
.card2 {
  width: 55%;
  background: #a5d9ff;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.btn {
  background: #a5d9ff;
  color: #000000cc;
  margin-top: 1em;
  font-size: 1.2em;
}
.btn:hover {
  background: #5bb2e9;
}
h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: #239cf3;
  line-height: 28px;
  font-size: 26px;
  font-family: "Fugaz One", cursive;
  display: inline-block;
}
h2 {
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 1.2em;
}
#title {
  margin: 1.8em 0;
}
