
                    @import url("https://fonts.googleapis.com/css?family=Fugaz+One|Lato:400,700&display=swap");
                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                    }
                    
                    .container {
                        position: relative;
                        top: 2em;
                        font-family: "Lato", sans-serif;
                        font-weight: 700;
                    }
                    
                    .first_column {
                        background: #a5d9fa;
                        height: 90vh;
                    }
                    
                    .second_column {
                        height: 90vh;
                        width: 100%;
                    }
                    
                    .content1 {
                        text-align: center;
                        padding: 5em 0 0;
                    }
                    
                    form {
                        padding: 8em 3em;
                    }
                    
                    input[type="text"] {
                        width: 25em;
                        border: 2px solid #39a3e4;
                        border-radius: 10px;
                    }
                    
                    input[type="password"] {
                        width: 25em;
                        border: 2px solid #39a3e4;
                        border-radius: 10px;
                    }
                    
                    label {
                        font-size: 0.7em;
                        font-weight: bold;
                    }
                    
                    .grow {
                        transition: all 0.2s ease-in-out;
                        width: 55px;
                        margin-bottom: 0.4em;
                        cursor: pointer;
                    }
                    
                    .grow:hover {
                        transform: scale(1.1);
                    }
                    
                    p {
                        font-size: 15px;
                        font-weight: 700;
                        margin-bottom: 1.4em !important;
                    }
                    
                    .first-paragraph {
                        font-size: 1.7em;
                        font-family: "Fugaz One", cursive;
                        letter-spacing: 1px;
                        line-height: 66px;
                    }
                    
                    h4 {
                        text-align: center;
                        font-weight: 900 !important;
                        font-size: 1em;
                        line-height: 48px;
                    }
                    
                    button {
                        width: 25em;
                        background: #39a2e4 !important;
                        border-radius: 10px !important;
                        margin-top: 0.9em !important;
                    }
                    
                    button:hover {
                        background: #39a2e4d3 !important;
                    }
a {
    color: #1b94e0;
    text-decoration: none;
    background-color: transparent;
}

/*styles for desktop view*/
@media(min-width: 999px){
  form{
    margin-left: 50px;
  }
  .page{
    margin-top: 50px;
  }
}

.input-box{
  width:100%;
}
                    
                    .loginrdr {
                        background: #FFFFFF !important;
                        border: 4px solid #1B95E0 !important;
                        box-sizing: border-box !important;
                        border-radius: 30px !important;
                        width: 50px;
                        float: right;
                        font-family: Lato;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 36px;
                    }
                    
                    .signuprdr {
                        background: #FFFFFF !important;
                        border: 4px solid #1B95E0 !important;
                        box-sizing: border-box !important;
                        border-radius: 30px !important;
                        width: 70px;
                        float: right;
                        font-family: Lato;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 36px;
                    }
                    
                    .landingheader {
                        font-family: Fugaz One;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 30px;
                        line-height: 30px;
                        margin-top: 40px;
                        margin-bottom: 30px;
                    }
                    
                    .landingcnt {
                        position: absolute;
                        margin: 0% 0 25% 25%;
                        position: absolute;
                        background: #FFFFFF;
                        border-radius: 40px;
                        width: 50%;
                        height: 70%;
                        text-align: center;
                        font-family: Lato;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 29px;
                    }
                    
                    .mainlanding {
                        background: rgba(29, 161, 242, 0.4);
                        text-align: center;
                    }
                    
                    .word {
                        color: #0168A7;
                        margin: 20px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: bold;
                        line-height: 40px;
                    }
                    
                    @media screen and (max-width: 1100px) and (min-width: 240px) {
                        .landingcnt {
                            position: absolute;
                            margin: 0% 0 25% 25%;
                            position: absolute;
                            background: #FFFFFF;
                            border-radius: 40px;
                            width: 50%;
                            height: 80%;
                            text-align: center;
                            font-family: Lato;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 20px;
                        }
                        .mainlanding {
                            background: rgba(29, 161, 242, 0.4);
                            text-align: center;
                        }
                        .word {
                            color: #0168A7;
                            margin: 20px;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                            line-height: 35px;
                        }
                    }
@import url("https://fonts.googleapis.com/css?family=Fugaz+One|Lato:400,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /*position: relative;*/
    /*top: 2em;*/
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

.first_column {
    background: #a5d9fa;
    /*height: 90vh;*/
}

.content1 {
    text-align: center;
    padding: 5em 0 0;
}

/*form {
    padding: 8em 3em;
}*/

input[type="text"] {
    /*width: 25em;*/
    border: 2px solid #39a3e4;
    border-radius: 10px;
}

input[type="password"] {
    /*width: 25em;*/
    border: 2px solid #39a3e4;
    border-radius: 10px;
}

label {
    font-size: 0.7em;
    font-weight: bold;
}

.grow {
    transition: all 0.2s ease-in-out;
    width: 55px;
    margin-bottom: 0.4em;
    cursor: pointer;
}

.grow:hover {
    transform: scale(1.1);
}

p {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 1.4em !important;
}

.first-paragraph {
    font-size: 1.7em;
    font-family: "Fugaz One", cursive;
    letter-spacing: 1px;
    line-height: 66px;
}

h4 {
    text-align: center;
    font-weight: 900 !important;
    font-size: 1em;
    line-height: 48px;
}

button {
    width: 100%;
    background: #39a2e4 !important;
    border-radius: 10px !important;
    margin-top: 0.9em !important;
}

button:hover {
    background: #39a2e4d3 !important;
}

.loginrdr {
    background: #FFFFFF !important;
    border: 4px solid #1B95E0 !important;
    box-sizing: border-box !important;
    border-radius: 30px !important;
    width: 50px;
    float: right;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
}

.signuprdr {
    background: #FFFFFF !important;
    border: 4px solid #1B95E0 !important;
    box-sizing: border-box !important;
    border-radius: 30px !important;
    width: 70px;
    float: right;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  /*position: relative;*/
  /*top: 2em;*/
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.first_column {
  background: #a5d9fa;
  /*height: 90vh;*/
}
.second_column {
  /*height: 90vh;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content1 {
  text-align: center;
  padding: 5em 0 0;
  margin-bottom: 40px;
}
/*form {
  padding: 8em 3em;
}*/

input[type="text"] {
  /*width: 25em;*/
  border: 2px solid #39a3e4;
  border-radius: 10px;
}
input[type="password"] {
  /* width: 25em; */
  border: 2px solid #39a3e4;
  border-radius: 10px;
}
input[type="email"] {
   /*width: 25em; */
  border: 2px solid #39a3e4;
  border-radius: 10px;
}
label {
  font-size: 0.7em;
  font-weight: bold;
}
.grow {
  transition: all 0.2s ease-in-out;
  width: 55px;
  margin-bottom: 0.4em;
  cursor: pointer;
}
.grow:hover {
  transform: scale(1.1);
}
p {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 1.4em !important;
}
.first-paragraph {
  font-size: 1.7em;
  font-family: "Fugaz One", cursive;
  letter-spacing: 1px;
  line-height: 66px;
}
h4 {
  text-align: center;
  font-weight: 900 !important;
  font-size: 1em;
  line-height: 48px;
}
button {
  /*width: 25em;*/
  background: #39a2e4 !important;
  border-radius: 10px !important;
  margin-top: 0.9em !important;
}
button:hover {
  background: #39a2e4d3 !important;
}

a {
    color: #1b94e0;
    text-decoration: none;
    background-color: transparent;
}

/*styles for desktop view*/
@media(min-width: 999px){
  form{
    margin-left: 50px;
  }
  .page{
    margin-top: 50px;
  }
}

.input-box{
  width:100%;
}