@import url("https://fonts.googleapis.com/css?family=Fugaz+One|Lato:400,700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first_column,
.second_column {
  height: 100vh;
  width: 100%;
}

.first_column { 
  background: rgba(29, 161, 292, 0.4);
}

@media screen and (min-width: 768px) {
  .first_column,
  .second_column {
    height: 100vh;
  }
}

.content1 {
    text-align: center;
    padding: 5em 0 0;
}

form {
    padding:5em 3em;
}

input[type="text"] {
    width: 550px;
    border: 2px solid #1B95E0;
    border-radius: 10px;
}

input[type="email"] {
  width: 550px;
  border: 2px solid #1b95e0;
  border-radius: 10px;
}

input[type="password"] {
    width: 550px;
    border: 2px solid #1b95e0;
    border-radius: 10px;
}

label {
    font-size: 0.7em;
    font-weight: bold;
}

.grow {
    transition: all 0.2s ease-in-out;
    width: 55px;
    margin-bottom: 0.4em;
    cursor: pointer;
}

.grow:hover {
    transform: scale(1.1);
}

p {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 1.4em !important;
}

.first-paragraph {
    font-size: 45px;
    font-family: "Fugaz One", cursive;
    letter-spacing: 1px;
    line-height: 66px;
    color: #000;
}

h3 {
    text-align: center;
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 48px;
}

button {
    width: 550px;
    background: #39a2e4 !important;
    border-radius: 20px !important;
    margin-top: 0.9em !important;
}

button:hover {
    background: #39a2e4d3 !important;
}

button a {
  color: #fff;
}

.loginrdr a {
  color: #1b94e0;
  text-decoration: none;
  background-color: transparent;
}

.signuprdr a {
  color: #1b94e0;
  text-decoration: none;
  background-color: transparent;
}

.loginrdr {
    background: #FFFFFF !important;
    border: 2px solid #1B95E0 !important;
    box-sizing: border-box !important;
    border-radius: 20px !important;
    width: 80px;
    float: right;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 36px;
    margin-right: 65px;
}

.signuprdr {
    background: #FFFFFF !important;
    border: 2px solid #1B95E0 !important;
    box-sizing: border-box !important;
    border-radius: 20px !important;
    width: 80px;
    float: right;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 36px;
    margin-right: 65px;
}