<!DOCTYPE html>
<html>
<head>
	<title> Rich - FAQ </title>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://kit.fontawesome.com/64360eb1f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/faq.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<h1>
						<img src="https://res.cloudinary.com/okafohenrie/image/upload/v1569314110/Union_pbokvb.png" alt="logo" id="logo" />
			         	<a href="/" >Rich</a>
			     	</h1>
				</div>
				<ul class="nav js-nav navbar-nav navbar-right">					
		            <li class="nav__link text-uppercase">
		              <a href="/logout">
		                Log Out
		              </a>
		            </li>
				</ul>
			</div>
		</nav>
    </div>
    	<div class="jumbotron jumbotron-top text-center">
			<h2>Hey there, how can we help?</h2>
    	</div>
    <main class="container-fluid">
    	<div class="panel">
    		<div class="panel-heading text-uppercase "> 
    			<div class="panel-links">
    				<a href="/networth"> home </a> / <a href="/faq"> faq </a>
    			</div>
    		</div>
    	</div>
    	<div class="container question">
			<h5 class="text-center">Frequently Asked Questions</h5>
    		<div class="questions-wrapper">
    			<a href="#nt-mn" data-toggle="collapse"> What Is Net Worth? </a>
    			<div id="nt-mn" class="collapse">
				   Your net worth is the total value of all the things you own minus the total of all the money you owe. Simple as that. 
				   The things you own, or your assets, include cash, cars, real estate, and investments. The money you owe, or your liabilities, including your mortgage, student loans, car loans, and credit card debt.
			  	</div>
    		</div>
    		<div class="questions-wrapper">
    			<a href="#nt-impt" data-toggle="collapse"> Why Is My Net Worth Important? </a>
    			<div id="nt-impt" class="collapse">
				  In a world of easy credit, it isn’t hard to convince yourself you own more than you do. Your net worth is a snapshot that shows you what you really own, and what belongs to the bank.
				  Net worth also helps you track whether you’re spending your money on things that improve your long-term wealth or destroy it.
			  	</div>
    		</div>
    		<div class="questions-wrapper">
    			<a href="#calc-nt" data-toggle="collapse"> How Do I Calculate My Net Worth? </a>
    			<div id="calc-nt" class="collapse">
    				If you love maths, then you're going to enjoy this.
    				Calculating your Net Worth is basically totaling up your assets (of significant value) which should include: Cash, Real Estate, Retirement Accounts, Investments, Cars and other valuable items outside those listed above.
    				totaling your liabilities, This part is… less fun. Now we have to add up all the money you owe to people. Your liabilities should include: Mortgage, Auto loans, Student loans, Credit card debt, Personal loans, All other debts. Subtract your total liabilities from total assets and Voila! you have your Net Worth.
    				But We are here for you, if you wish not to bother yourself with all these processes.
				 
			  	</div>
    		</div>
    		<div class="questions-wrapper">
    			<a href="#incr-nt" data-toggle="collapse">How Do I Increase My Net Worth? </a>
    			<div id="incr-nt" class="collapse">
    				If you want to grow your net worth (who doesn’t?), there are a few fundamental ways to get things moving in the right direction.<br>
    				<b>1 – Getting Your Spending On Track:</b> Review your budget and look for places where you can cut your spending. The more money you can save each month, the more that asset column grows. And it compounds every month you keep your spending lower.<br>
    				<b>2 – Paying Down Debt:</b> Want to grow your net worth? Crush that liabilities column. Make a plan to pay down debt with solid, measurable goals. How much do you want to pay off a month? Are you going to start a side hustle or pick up some extra projects at work to speed up the process? Then get tracking.<br>
    				<b>3 – Earning More Money:</b> Earn more or spend less? Why not both.
    				Whether you finally ask for that raise or start a side hustle, there are so many ways to up your earnings in today’s world. Increasing your income gives you more cash every month to save or invest. And those Nairas grow your net worth.<br>
    				<b>4 – Investing in Appreciating Assets:</b> Shoving your money in a Gringotts vault will increase your net worth. But it will keep the continued growth entirely dependent on your working hours. To continue to grow your wealth, you would have to work to add more money to the value. And to outrun the natural decline in money already saved due to inflation. Alternatively, you could invest in assets that increase in value over time. Investing helps your wealth grow while you sleep.
    			</div>
    		</div>
    		<div class="questions-wrapper">
    			<a href="#neg-nt" data-toggle="collapse"> My Net Worth is Negative – Is that even possible? </a>
    			<div id="neg-nt" class="collapse">
    				Yup. If you have more debt than assets, it is entirely possible for your net worth to be negative. A lot of people right out of school have a negative net worth, as they are handed student loans with that new degree. Without the years to build up assets, the debt offsets any savings or investments they currently have. It can also happen after you buy a home. Since you’re likely only putting 20% down (sometimes less), that 80% of your home value might offset all your other assets.<br>
    				<em>ps: If your net worth is negative, one of your first financial goals should be to pay down debt.</em>
    			</div>
    		</div> 	
    		<div class="questions-wrapper">
    			<a href="#track-nt" data-toggle="collapse"> Should I track net worth and budget? </a>
    			<div id="track-nt" class="collapse">
    				Yes! Your net worth is the one number that will tell you the progress of your financial position. But it won’t help you make real improvements. Your budget is what enables you to take control of your spending and direct dollars towards your goals. Which, in turn, improves your net worth.
    			</div>
    		</div> 
    		<div class="questions-wrapper">
    			<a href="#when-calc-nt" data-toggle="collapse"> How Often Should I Calculate My Net Worth? </a>
    			<div id="when-calc-nt" class="collapse">
    				Quarterly is an ideal place to start.
    				Calculating your net worth monthly can be a useful exercise if you have a regular family budget meeting. But most of the time your net worth won’t shift much month-to-month. Alternatively, only checking your net worth annually won’t give you a sense of positive or negative progress. You could miss bad money moves or investments that are hurting your wealth generation.
    			</div>
    		</div>  			
    	</div>
    </main>
    <div class="jumbotron jumbotron-bottom icons text-center">
    	<ul class="list-group">
	    	<li><i class="fab fa-slack"></i></li>
			<li><i class="fab fa-twitter"></i></li>
			<li><i class="fab fa-google-drive"></i></li>
			<li><i class="fab fa-github"></i></li>
			<li><i class="fab fa-git"></i></li>
			<li><i class="fab fa-figma"></i></li>
		</ul>
		<span>Powered by Hngi6</span>
    </div>
</body>
</html>