/* VARIABLES */
:root {
  /* Colors */
  --primary: #5c17b2;
  --light-primary: #7920e6;
  --white: #ffffff;
  --off-white: #eeeeee;
  --gray: #716f74;
  --dark: #333333;
  --black: #000000;
}

/* BUTTONS */
.button {
  padding: 1rem inherit;
  transition: 0.3s ease-in-out;
}
.button--primary {
  color: var(--white);
  background-color: var(--primary);
}

.button--primary:hover {
  color: var(--white);
  background-color: var(--light-primary);
}

.button-outline {
  color: var(--black);
}

/* FORMS */
.form-container {
  margin-top: 5rem;
}

.form button[type="submit"] {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.form .form-text,
.form .form-text a {
  color: var(--gray);
}

/* NAV */
.header {
  width: 100%;
  margin: 1.5rem auto;
}

header .brand a {
  color: var(--primary);
  text-decoration: none;
}

header .brand a:hover {
  color: var(--light-primary);
  text-decoration: none;
}

.nav__link a {
  color: var(--primary);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.nav__link a:hover {
  color: var(--light-primary);
}

.nav ul {
  list-style: none;
}

nav ul li {
  margin: 0 1rem;
}

nav .button {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .nav {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.56s ease-in-out;
  }
  .nav.nav--open {
    transform: translateX(0);
  }
  .nav ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  .nav ul li {
    margin-top: 1rem;
  }

  .hamburger {
    z-index: 11;
    cursor: pointer;
    padding: 0.5rem;
  }
}
