body,html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.navbar{
	padding: 10px;
}
.logo{
	padding-left: 50px;
}
#logo{
	position: relative;
	bottom: 8px;
}
#logo-text{
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 36px;
	/* identical to box height */
	color: #5C17B2;
}
.nav-links{
	padding-right: 50px;
}
.navbar li{
	display: inline;
	list-style: none;
}
#signup, #signin{
	margin-right: 5px;
}


.container-fluid{
	padding:20px;
}
.row{
	margin: 0;
}
.landing-text{
	padding-left: 50px;
	padding-right: 50px;
}
.col-md-6 h3{
	margin-top: 150px;
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 60px;

	color: #5C17B2;
}
.col-md-6 p{
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-align: justify;

	color: #000000;
}

#netw-img{
	height: 85%;
	width: 85%;
	margin-top: 100px;
}
