<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>

    <link rel="stylesheet" href="/users/static/users/css/dashboard.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card1">
          <p>Team Nemesis</p>
          <button class="circle"><i class="fab fa-google"></i></button>
          <p class="paragraph2">User profile</p>
        </div>
        <div class="card2">
          <div class="sm-card"><span>Saved TweetA</span></div>
          <div class="sm-card1"><span>Saved TweetB</span></div>
          <div class="sm-card2"><span>Saved TweetC</span></div>
        </div>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/2534cfc66b.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
