<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nemesis Twitter Bot Sign Up Page</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}" />
</head>

<body>
    <div class="container page">
        <div class="row">
            <div class="col-sm-6 first_column">
                <div class="content1">
                    <img src="https://res.cloudinary.com/dzwnhcpep/image/upload/v1569341483/Team%20Nemesis_twitterBot/twitter_icon_pzp2pk.svg" alt="twitter logo" />
                    <p class="first-paragraph">Nemesis TweetBot</p>
                    <img class="grow" src="https://res.cloudinary.com/dzwnhcpep/image/upload/v1569341619/Team%20Nemesis_twitterBot/wifi_icon_mjyfgk.svg" alt="wifi icon" />
                    <p>Connect twitter account</p>
                    <img class="grow" src="https://res.cloudinary.com/dzwnhcpep/image/upload/v1569341614/Team%20Nemesis_twitterBot/download_icon_njf4hm.svg" alt="download icon" />
                    <p>Save Tweet directly from twitter to external drive</p>
                    <img class="grow" src="https://res.cloudinary.com/dzwnhcpep/image/upload/v1569341616/Team%20Nemesis_twitterBot/file_icon_a8sddq.svg" alt="file icon" />
                    <p>Enjoy viewing favourite tweet on external drive at leisure</p>
                </div>
            </div>
            <div class="col-sm-6 second_column">
                <form method="post">
                {% csrf_token %}

                    <div class="form-group">
                        <h4>Create an account</h4>

                        <label for="exampleinputusername">Username</label>
                        <input name="user_name" type="text" class="form-control input-box" id="exampleinputusername" aria-describedby="textHelp" required />
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleinputemail">Email</label>
                        <input name="user_email" type="email" class="form-control input-box" id="exampleinputemail" aria-describedby="textHelp"  required />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="user_password" type="password" class="form-control" id="exampleInputPassword1"  required />
                    </div>
                    <div class="form-group">
                        <label for="examplerepeatpassword">Repeat password</label>
                        <input type="password" class="form-control" id="examplerepeatpassword"  required />
                    </div>

                    {% if msg %}
                        <div class="form-group text-center">
                            <p class="text-danger">{{msg}}</p>
                        </div>
                    {% endif %}

                    <button type="submit" class="btn btn-primary">Sign up</button>
                    
                    <div class="form-group text-center mt-3">
                        <p>already have an account? <a href="{% url 'signin' %}">Log in</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>

</html>